body {
    
}

ul {
    list-style: none;
}

li {
    /* display: inline-block; */
    margin: 15px 0px;
}

input {
    visibility:hidden;
}

label {
    visibility:hidden;
    cursor: pointer;
}

input:checked + label {
    background: red;
}